
@{
    ViewBag.Title = "Historial";
}

<h2>Historial de paciente</h2>

<main>
    <div class="container">
        @Html.Partial("~/Views/Partial/_DatosUsuario.cshtml", (object)ViewBag.Usuario)
        <br />
        @Html.Partial("~/Views/Partial/_DatosAnamnesis.cshtml", (object)ViewBag.Anamnesis)
        <br />
        @Html.Partial("~/Views/Partial/_DatosFamiliar.cshtml", (object)ViewBag.Familiar)
        <br />
        @Html.Partial("~/Views/Partial/_DatosEstomatologico.cshtml", (object)ViewBag.Estomatologico)
        <br />
        @Html.Partial("~/Views/Partial/_DatosDental.cshtml", (object)ViewBag.Dental)
        <br />
    </div>
</main>

