@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Tipo de documento</td>
                    <td>Documento</td>
                    <td>Nombre</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                    <td>Ciudad</td>
                    <td>Departamento</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                        <td>@item.Id_Documento</td>
                        <td>@item.Id_Usuario</td>
                        <td>@item.Nombre @item.Apellido </td>
                        <td>@item.Edad </td>
                        <td>@item.Id_Genero</td>
                        <td>@item.Id_Ciudad</td>
                        <td>@item.Id_Departamento </td>
                        <td>
                            <a href="@Url.Action("metodo","controlador")">
                                <img src="~/Content/Images/Edit.svg"/>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("","")">
                                <img src="~/Content/Images/Delete.svg" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("","")">
                                <img src="~/Content/Images/addDate.svg"/>
                            </a>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</main>