@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Tipo Documento</td>
                    <td>N° Documento</td>
                    <td>Nombre</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                    <td>Fecha cita</td>
                    <td>Hora cita</td>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in ViewBag.Usuario)
                    {
                        <tr>
                            <td>@item.tipodocumento</td>
                            <td>@item.idUsuario</td>
                            <td>
                                <a href="@Url.Action("Historial","Lista", new {id = item.idUsuario})" class="text-decoration-none">
                                    <p class="text-black">
                                        @item.nombre @item.apellido
                                    </p>
                                </a>
                            </td>
                            <td>@item.edad </td>
                            <td>@item.genero</td>
                            <td>@item.citas</td>
                            <td>@item.hora</td>
                            <td>
                                <a href="@Url.Action("RegistroUsuario","Registro", new {id = item.idUsuario})">
                                    <img src="~/Content/Images/Edit.svg" />
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("EliminarUsuario","Crud", new {id = item.idUsuario})">
                                    <img src="~/Content/Images/Delete.svg" />
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("RegistrarCita","Registro", new {id = item.idUsuario, nombre = item.nombre, })">
                                    <img src="~/Content/Images/addDate.svg" />
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("PlanTratamiento","Tratamiento", new {id = item.idUsuario})">
                                    <img src="~/Content/Images/tratamiento.svg" />
                                </a>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</main>