
@{
    ViewBag.Title = "_DatosFamiliar";
}

<main>
    <div class="row">
        <table class="table table-striped table-hover">
            @foreach (var item in ViewBag.Familiar)
            {
                <tbody>
                    <tr>
                        <td>Diabetes</td>
                        <td>@item.diabetes</td>
                        <td>Cancer</td>
                        <td>@item.cancer</td>
                    </tr>
                    <tr>
                        <td>Hipertencion arterial</td>
                        <td>@item.arterial</td>
                        <td>Fiebre reumatica</td>
                        <td>@item.fiebre</td>

                        @*<td>Sinusitis</td> PENDIENTES POR BORRAR
                        <td>@item.sinusitis</td>*@
                    </tr>
                    <tr>
                        <td>Hepatitis</td>
                        <td>@item.hepatitis</td>
                        <td>Epilepsia</td>
                        <td>@item.epilepsia</td>@*AGREGAR*@

                        @*<td>Organos y sentidos</td> PENDIENTES POR BORRAR
                        <td>@item.organos</td>*@
                    </tr>
                    <tr>
                        <td>Alteraciones de coagulacion</td>
                        <td>@item.caogulatoria</td>
                        <td>Cardiopatias</td>
                        <td>@item.cardiopatias</td>

                        @*<td>Infecciones</td> PENDIENTES POR BORRAR
                        <td>@item.infecciones</td>*@
                    </tr>
                    <tr>
                        <td>Tratamiento medico</td>
                        <td>@item.medico</td>
                        <td>Otros</td>
                        <td>@item.otros</td>

                        @*<td>Transtornos grasticos</td> PENDIENTES POR BORRAR
                        <td>@item.gastrico</td>*@
                    </tr>
                    <tr>
                        <td>Transtornos neumologicos</td>
                        <td>@item.neumologico</td>
                    </tr>
                    <tr>
                        <td>Embarazo</td>
                        <td>@item.embarazo</td>
                        <td>Meses</td>
                        <td>@item.meses</td>
                    </tr>
                    <tr>
                        <td>Lactancia</td>
                        <td>@item.lactancia</td>

                        @* PENDIENTES POR BORRAR
                        @*<td>Enfermedad respiratoria</td> 
                        <td>@item.respiratoria</td>*@
                    </tr>
                    <tr>
                        <td>Frecuencia de cepillado</td>
                        <td>@item.cepillado</td>
                        <td>Uso de seda dental</td>
                        <td>@item.seda</td>

                        @*<td>Hipertension</td> PENDIENTES POR BORRAR
                        <td>@item.hipertension</td>*@
                    </tr>
                    <tr>
                        <td>Observaciones</td>
                        <td>@item.observaciones</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</main>

