
@{
    ViewBag.Title = "RegistroContabilidad";
}
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#buscar').select2();
        });
    </script>

}
<h2>RegistroContabilidad</h2>

<main>
    @if (ViewBag.Alert != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Alert
        </div>
    }

<div class="container">

    @using (Html.BeginForm("InsertarContabilidad", "Registro", FormMethod.Post))
    {
        <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="IdUsuario" id="buscar">
            @foreach (var item in ViewBag.Usuario)
            {
                <option value="@item.idUsuario">@item.idUsuario - @item.nombre @item.apellido</option>
            }
        </select>
        <br /> <br />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <div class="input-group-lg">
                            <h1 class="input-group-text">COSTO TRATAMIENTO</h1>
                        </div>
                    </td>
                    <td>
                        <div class="input-group-lg">
                            <input class="form-control" type="number" name="Valor" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group-lg">
                            <h1 class="input-group-text">ABONO</h1>
                        </div>
                    </td>
                    <td>
                        <div class="input-group-lg">
                            <input class="form-control" type="number" name="Abono" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <center>
            <button type="submit" class="btn btn-primary" style="width: 50%">Guardar</button>
        </center>
    }

</div>
</main>