
@{
    ViewBag.Title = "RegistroCartaDental";
}

<main>
    @if (ViewBag.Carta == 2)
    {
        <h2>Carta Dental Niños</h2>
        <br />
        <form>
            <div class="container">
                <article>
                    <header>
                        <h2>Carta deltal niños</h2>
                    </header>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">55</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="55">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="55">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">65</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="65">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="65">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">75</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="75">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="75">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">85</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="85">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="85">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">54</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="54">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="54">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">64</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="64">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="64">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">74</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="74">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="74">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">84</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="84">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="84">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">53</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="53">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="53">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">63</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="63">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="63">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">73</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="73">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="73">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">83</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="83">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="83">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">52</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="52">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="52">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">62</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="62">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="62">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">72</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="72">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="72">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">82</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="82">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="82">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">51</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="51">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="51">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">61</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="61">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="61">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">71</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="71">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="71">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">81</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="81">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="81">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </article>
            </div>
        </form>

    }
    else if(ViewBag.Carta == 1)
    {
        <h2>Carta Dental Adultos</h2>
        <br />
        <form action="@Url.Action("PlanTratamiento","Registro")">
            <div class="container">
                <article>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">18</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="18">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="18">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">28</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="28">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="28">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">38</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="38">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="38">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">48</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="48">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="48">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">17</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="17">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="17">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">27</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="27">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="27">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">37</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="37">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="37">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">47</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="47">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="47">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">16</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="16">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="16">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">26</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="26">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="26">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">36</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="36">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="36">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">46</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="46">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="46">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">15</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="15">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="15">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">25</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="25">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="25">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">35</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="35">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="35">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">45</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="45">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="45">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">14</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="14">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="14">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">24</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="24">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="24">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">34</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="34">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="34">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">44</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="44">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="44">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">13</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="13">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="13">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">23</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="23">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="23">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">33</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="33">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="33">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">43</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="43">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="43">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">12</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="12">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="12">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">22</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="22">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="22">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">23</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="23">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="23">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">24</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="24">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="24">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">11</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="11">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="11">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">12</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="12">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="12">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">13</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="13">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="13">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">14</span>
                                </div>
                                <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm" name="14">
                                    @foreach (var item in ViewBag.Convecciones)
                                    {
                                        <option value="@item.Id" id="14">@item.Conveccion</option>
                                    }
                                </select>
                            </td>
                        </tr>

                    </table>
                </article>
            </div>
            <table class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <center><button type="submit" class="btn btn-primary" style="width:50%; ">Siguiente</button></center>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    }

</main>
<br />
<br />
<br />
<br />
<br />
<br />